.header {
    display: flex;
    justify-content: space-between;
    height: 72px;
    background: darkmagenta;
    color: white;
    display: flex;
    align-items: center;
    padding: 0px 16px;
    font-size: 24px;
    font-weight: 900;
  }

  ul {
      display: flex;
      list-style-type: none;
      gap: 20px;
      font-size: 16px;
  }

  .section1 {
      display: flex;
  }